\version "{{ lily_version }}"
\language "english"

\header {
  title = "{{ root.upper() }}"
  composer = "J. W. Bensley"
}

{%- include 'scales/heptatonic_scales.j2' -%}

\pageBreak

{%- include 'scales/hexatonic_scales.j2' -%}

{%- include 'scales/pentatonic_scales.j2' -%}