audioop-lts==0.2.2
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
certifi==2026.2.25
charset-normalizer==3.4.4
click==8.1.8
fastapi==0.134.0
gTTS==2.5.4
gunicorn==25.1.0
idna==3.11
midi2audio==0.1.1
MIDIUtil==1.2.1
mypy==1.19.1
mypy_extensions==1.1.0
packaging==26.0
pydantic==2.12.5
pydantic_core==2.41.5
pydub==0.25.1
requests==2.33.0
starlette==0.52.1
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.41.0