\version "{{ lily_version }}"
\language "english"

\header {
  title = "{{ root.upper() }}"
  composer = "J. W. Bensley"
}

{% include './templates/chords/triads.j2' -%}

{% include './templates/chords/sevenths.j2' -%}